<div class="container d-flex justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card p-4 shadow-sm" style="width: 350px;">
    <h3 class="text-center mb-3">Login</h3>

    <%= form_with(scope: :user, url: session_path(:user), data: { turbo: false }) do |f| %>
      <div class="mb-3">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, autofocus: true, class: "form-control" %>
      </div>

      <div class="mb-3">
        <%= f.label :password, "Password" %>
        <%= f.password_field :password, class: "form-control" %>
      </div>

      <%= f.submit "Login", class: "btn btn-primary w-100" %>
    <% end %>

    <div class="text-center mt-3">
      <%= link_to "Don't have an account? Sign up", new_user_registration_path %>
    </div>
  </div>
</div>
